{% extends "base.html" %}

{% block content %}
  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features" style="padding-top: 160px">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10">
                    <h3>Your images</h3>

                    <div class="row">
                        {% for image in images %}
                        <div class="col-xs-6 col-md-3">
                            <div class="card">
                                <a href="{{ image.get_absolute_url  }}">
                                    <img src="{{ image.get_thumbnail_url }}" class="card-img-top" alt="{{ image.name }}">
                                </a>
                                <div class="card-body">
                                    <a href="{{ image.get_absolute_url  }}">
                                        <h5 class="card-title">{{ image.name }}</h5>
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        {{ image.uploaded }}

                                        <form
                                            onsubmit="return confirm('Are you sure you want to delete this embarrassment of an image?');"
                                            method="post"
                                            action="{% url "main:image-delete" image.id %}"
                                        >
                                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                                        </form>
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-md-12">
                        <p style="text-align: center">
                        You have no images. What's the use of an image sharing service with no images? Go <a
                            href="{% url "main:image-upload" %}">upload some</a>!
                        </p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->
{% endblock %}
