{% extends "base.html" %}

{% load human_size %}

{% block title %}Upload an image{% endblock %}

{% block content %}
  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-8 offset-md-2 text-center padding-bottom-10">
                    <h3>Upload an image</h3>

                    {% if request.user.is_upgraded %}
                    <p>
                    You can upload an image using this shitty form:
                    </p>

                    <p>
                    <form method="post" enctype="multipart/form-data" action="{% url "main:image-upload" %}">

                        {{ form.non_field_errors }}
                        <div class="form-group row">
                            {{ form.title.errors }}
                            <label class="col-sm-2 col-form-label" for="{{ form.title.id_for_label }}">Image title</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" maxlength="200"
                                    id="id_title" placeholder="My amazing title, such prose">
                                </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="{{ form.image.id_for_label }}">The file</label>
                            <div class="col-sm-10">
                                <input type="file" accept="image/*" class="form-control-file" name="image" required
                                id="id_image">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-blue small scrool">Upload!</button>
                    </form>
                    </p>

                    <p class="section-subtitle" style="margin-top: 60px">
                    Meanwhile, you're using
                    {{ request.user.total_space_taken|human_size }} / {{ request.user.total_space|human_size }} of space
                    <br> and your
                    {% if request.user.has_ever_paid %}
                        subscription expires
                    {% else %}
                        free trial ends
                    {% endif %}
                        on {{ request.user.upgraded_until }}.
                    </p>

                    <p>
                    {% if not request.user.has_ever_paid %}
                    Also, all your images will be deleted after your trial ends,
                    <br> so make sure you pay!
                    {% endif %}
                    </p>

                    <p>
                    And, by the way, if you want to use the API, your <code>api_key</code> is
                    <code>{{ request.user.api_key }}</code>.
                    </p>

                    {% else %}
                    <p>
                    You can't do anything until you pay! Go back.
                    </p>
                    {% endif %}
                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->
{% endblock %}
