{% extends "base.html" %}

{% load human_size %}

{% block title %}Upload an image{% endblock %}

{% block content %}
  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10">
                    <h3>Upload an image</h3>

                    {% if request.user.is_paying %}
                    <p>
                    You can upload an image using this shitty form:
                    </p>

                    <p>
                    <form method="post" enctype="multipart/form-data" action="{% url "main:image-upload" %}">
                        <input name="data" type="file" accept="image/*">
                        <button type="submit">Upload!</button>
                    </form>
                    </p>

                    <p>
                    I'm going to fix it soon, I can't stand it any more than you can.
                    </p>

                    <p class="section-subtitle">
                    Meanwhile, you're using
                    {{ request.user.total_space_taken|human_size }} / {{ request.user.storage_space|human_size }} of space
                        and your
                    {% if request.user.has_ever_paid %}
                        subscription expires
                    {% else %}
                        free trial ends
                    {% endif %}
                        on {{ request.user.upgraded_until }}.
                    {% if not request.user.has_ever_paid %}
                    <br>
                    Also, all your images will be deleted after your trial ends, so make sure you pay!
                    {% endif %}
                    </p>
                    {% else %}
                    <p>
                    You can't do anything until you pay! Go back.
                    </p>
                    {% endif %}
                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->
{% endblock %}
