{% load el_pagination_tags %}

{% if posts %}
	{% paginate posts %}

	{% for post in posts %}
		<article>
			<header>
				<h2>
					<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
				</h2>
			</header>
			<p class="publish-data">
				Posted on
				<time itemprop="datePublished" datetime="{{ post.post_date|date:'Y-m-d' }}">
					{{ post.post_date|date:"F d, Y" }}
				</time>
			</p>
		</article>
		<hr />
	{% endfor %}

	{% show_more "Load more blog posts" %}

{% else %}
	<p>There's no blog entries...</p>
{% endif %}
